<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="scripts/index.js"></script>
    <title>Triumph Over Trauma</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navvyBar">
      <img src="./static/tottrans.png" id="logo"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i>Home</i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/results"><i>Logger</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resources"><i>Coping Exercises</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team"><i>The Team</i></a>
            </li>
          </ul>
        </div>
      </nav>
  <img src="./static/totheader.png" class="center" style="width:1000px;height:384px;padding-top:40px;padding-bottom:40px"/>
  <h1><i><b>Don't let your trauma stop you from slaying.</b></i></h1>
  <p style="padding-left:120px;padding-right:120px;font-size:20px">Triumph Over Trauma (TOT) was made to help individuals suffering from Post-Traumatic Stress Disorder
    (PTSD) manage their heart rate and oxygen saturation levels by recording and logging those
    factors in your own personal log.
  </p>
  <div class="container" style="padding-top:100px">
    <div class="image">
      <img src="./static/sosad.png"/>
    </div>
    <div class="text">
      <h2><b>Heart Rate and</b></h2>
      <h2><b>Oxygen Saturation Logger</b></h2>
      <p>Our logger detects both your heart rate and oxygen saturation levels and logs them on your account.
        This information can be used to identify panic attacks and choose the best-fitting coping mechanism
        for you.</p>
      <p><button type="button"><a href="results.html">Start Your Log</a></button>
      </p>
    </div>
  </div>
  <div class="container" style="padding-top:5px">
    <div class="text">
      <h2><b>Coping Mechanisms</b></h2>
      <p>Explore our large selection of personally-made guided meditations, self-talk,
        and art therapy videos to cope with attacks here. Want to share your thoughts on
        the videos? Send us your story through our "Contact Us" page!
      </p>
      <p><button type="button"><a href="resources.html">Explore Resources</a></button>
      </p>
    </div>
    <div class="image">
      <img src="./static/IMG_9876.jpg"/>
    </div>
  </div>
  <div class="container" style="padding-top:5px;padding-bottom:50px">
    <div class="image">
      <img src="./static/team.png"/>
    </div>
    <div class="text">
      <h2><b>Meet the Developers</b></h2>
      <p>Pictured left to right: Robert Khzouz (2nd Year - Computer Science), Jacob Miller (4th Year - Robotics Engineering), 
        Bethany Slone (3rd Year - Cybersecurity), and Madison Chervenak (2nd Year - Psychology).
      </p>
      <p><button type="button"><a href="#">Learn More</a></button>
      </p>
    </div>
  </div>
</body>
<footer>
  <p>Product of Hack Dearborn 2 - October 2023
  </p>
  <p><b>Click a Name to Email Us!</b><br>
    <a href=mailto:“robkhz@umich.edu”>Robert Khzouz</a> | <a href=mailto:“milljaco@umich.edu”>Jacob Miller</a> | <a href=mailto:“bslone@umich.edu”>Bethany Slone</a> | <a href=mailto:“mmaddiec@umich.edu”>Madison Chervenak</a>
  </p>

</footer>
</html>