<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="scripts/team.js"></script>
    <title>Team</title>
</head>
<body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark navvyBar">
        <img src="./static/tottrans.png" id="logo"/>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i>Home</i><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/results"><i>Logger</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources"><i>Coping Exercises</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team"><i>The Team</i></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:white">Search</button>
            </form>
          </div>
        </nav>

    <div class="container" style="padding-top:100px">
        <div class="image">
          <img src="./static/robhead.jpeg"/>
        </div>
        <div class="text">
          <h2><b>Robert Khzouz</b></h2>
          <h3><b>Computer Science Major</b></h3>
          <p>I am an undergraduate Computer Science student at the University of Michigan-Dearborn.
            Post-graduation I would like to go into full stack web development at a Fortune 500 company.
          </p>
        </div>
    </div>

    <div class="container" style="padding-top:20px">
        <div class="image">
          <img src="./static/headshot1.jpg"/>
        </div>
        <div class="text">
          <h2><b>Bethany Slone</b></h2>
          <h3><b>Cybersecurity and Information Assurance Major</b></h3>
          <p>I am an undergraduate Cybersecurity and Information Assurance student with a concentration in Digital Forensics at the University of Michigan-Dearborn.
            Post-graduation I would like to work in digital forensics or penetration testing.
          </p>
        </div>
    </div>

    <div class="container" style="padding-top:20px">
        <div class="image">
          <img src="./static/Me.png"/>
        </div>
        <div class="text">
          <h2><b>Jacob Miller</b></h2>
          <h3><b>Robotics Engineering Major</b></h3>
          <p>I am an undergraduate Robotics Engineering student at the University of Michigan-Dearborn.
            Post-graduation I would like to work with electronics/hardware design.
          </p>
        </div>
    </div>

    <div class="container" style="padding-top:20px">
        <div class="image">
          <img src="./static/DSC_9394.jpg"/>
        </div>
        <div class="text">
          <h2><b>Madison Chervenak</b></h2>
          <h3><b>Psychology</b></h3>
          <p>I am an undergraduate Psychology student with a minor in Criminology and Criminal Justice at the University of Michigan-Dearborn.
            Post-graduation I would like to work in a federal agency in either behavioral analysis or cyber crime prevention.
          </p>
        </div>
    </div>
</body>
</html>